@import "~taro-ui/dist/style/components/avatar.scss";
@import "~taro-ui/dist/style/components/flex.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/grid.scss";

.mine_content {
    margin-top: 26px;
}
.mine_name {
    font-size: 30px;
    margin-bottom: 20px;
}
.user_grade {
    .at-button--small {
        height: 40px;
        line-height: 40px;
        font-size: 26px;
    }
    .at-button {
        border: 0;
        background-color: rgba(205, 205, 205, 0.3);
    }
}
